@media only screen and (min-width: 500px) {
  .dp.active {
    position: relative;
    top: -70px;
    left: 0px;
    opacity: 0;
  }
  .dp {
    position: relative;
    top: 0px;
    left: 0px;
    transition: all 0.5s ease-in-out;
  }
  .container {
    transition: top 0.5s ease-in-out;
  }
  .container.active {
    position: fixed;
    top: -40px;
    
  }
}

@media only screen and (max-width: 500px) {

  .container.active {
    display: flex;
    justify-content:space-around; 
    text-align: center;
    transition: all 0.09s ease;
  }
  .dp {
    
    transition: all .09s ease-in-out;
  }
  .dp.active {
   
    transition: all .09s ease;
  } 

  .link.active {
    display: none;
    
  } 
  .name.active {
      margin-top: 10px;
      
    text-align: center;
    justify-content: center;
    transition: all .09s ease;
  }
}
